[Desktop Entry]
Name=NccDesk
NoDisplay=true
MimeType=x-scheme-handler/nccdesk;
TryExec=nccdesk
Exec=nccdesk %u
Icon=nccdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=nccdesk
